<div class="modal fade" id="ajax_loader_dialog" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="center">
                <img src='@Url.Content("~/Modules/Orchard.DoTNetX/Content/images/ajax-loader.gif")' id="loading-indicator" />
            </div>
        </div>
    </div>
</div>
