<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <!-- Log4net Logging Setup -->
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender, log4net">
      <file value="log.txt" />
      <appendToFile value="true" />
      <immediateFlush value="true" />
      <staticLogFileName value="false" />
      <rollingStyle value="Date" />
      <datepattern value="-yyyy.MM.dd'.log'" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date, %level, %l, %message, %newline" />
      </layout>
    </appender>

    <appender name="ShellFileAppender" type="log4net.Appender.FileAppender, log4net">
      <file value="log_Shell.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date, %level, %l, %message, %newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <appender name="ModuleOneFileAppender" type="log4net.Appender.FileAppender, log4net">
      <file value="log_Module_1.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date, %level, %l, %message, %newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <appender name="ModuleTwoFileAppender" type="log4net.Appender.FileAppender, log4net">
      <file value="log_Module_2.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date, %level, %l, %message, %newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="fwu@air-inc.com" />
      <from value="fwu@air-inc.com" />
      <subject value="test logging message" />
      <smtpHost value="SMTPServer.domain.com" />
      <bufferSize value="512" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date, %level, %l, %message, %newline" />
      </layout>
    </appender>

    <root>
      <!-- How to filter messages by Level? -->
      <!-- Level of message from high to low: FATAL, ERROR, WARN, INFO, DEBUG -->
      <!-- Level filter:
                FATAL: Log Fatal messages
                ERROR: Log Error and higher messages
                WARN: Log Warn and higher messages
                INFO: Log Info and higher messages
                DEBUG: Log Debug and higher messages
                ALL: Log All messages
                OFF: Log no message -->
      <!--<level value="INFO"/>-->
      <appender-ref ref="FileAppender"/>
    </root>
    <logger name="Shell">
      <appender-ref ref="ShellFileAppender" />
    </logger>
    <logger name="ModuleOne">
      <appender-ref ref="ModuleOneFileAppender" />
    </logger>
    <logger name="ModuleTwo">
      <appender-ref ref="ModuleTwoFileAppender" />
    </logger>
  </log4net>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prism.Wpf" publicKeyToken="91a96d2a154366d8" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="91a96d2a154366d8" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>