@model dynamic

<h1>@T("Redirects")</h1>

<div class="manage">
    @Html.ActionLink(T("Add").Text, "Add", "RedirectRule", null, new { @class = "button primaryAction" })
</div>

@Html.Partial("ListPartial")