<h1>@T("Move redirect rules")</h1>

<div class="message message-Warning">
    <p><strong>@T("Warning!")</strong> @T("Rules will be moved to web.config only if enabled IIS Rewrite module. The site will be restarted. Approve the operation.")</p>
</div>

@Html.Partial("ListPartial")