.order-editor fieldset {
  margin-top: 16px;
}
.order-editor fieldset legend {
  font-weight: bold;
}
.order-editor .order-status li,
.order-editor .order-events li {
  display: inline-block;
}
.order-editor .order-status li label,
.order-editor .order-events li label {
  display: inline;
}
.order-editor .addresses {
  clear: both;
}
.order-editor .addresses .shipping-address,
.order-editor .addresses .billing-address {
  display: inline-block;
  vertical-align: top;
}
.order-editor .addresses .shipping-address input,
.order-editor .addresses .billing-address input {
  margin-left: 0;
}
.order-editor .addresses .shipping-address .address-view,
.order-editor .addresses .billing-address .address-view {
  display: none;
  cursor: pointer;
}
.order-editor .addresses .billing-address {
  border-left: solid 1px lightgray;
  margin-left: 8px;
  padding-left: 8px;
}
.order-editor .order-items table {
  border-spacing: 1px;
}
.order-editor .order-items table th {
  background-color: lightgray;
  border-spacing: 1px;
}
.order-editor .order-items table td,
.order-editor .order-items table th {
  padding: 3px;
}
.order-editor .order-items table td.quantity,
.order-editor .order-items table th.quantity,
.order-editor .order-items table td.price,
.order-editor .order-items table th.price {
  text-align: right;
}
.order-editor .order-items table tbody {
  border-collapse: collapse;
}
.order-editor .order-items table tbody tr:last-child td {
  border-bottom: 1px solid lightgray;
}
.order-editor .order-items table tfoot .label {
  text-align: right;
}
.order-editor .order-items table tfoot .total td {
  font-weight: bold;
}
.order-editor .order-items table tfoot .red input {
  border: 1px solid red;
}
.order-editor .order-tracking .order-tracking-view {
  display: none;
}
.order-editor .order-event-log {
  margin-bottom: 12px;
}
.order-editor .order-event-log li {
  display: block;
  margin-bottom: 6px;
}
@media print {
  .order-event-add {
    display: none;
  }
}
