<div class="dropdown-bar"><div class="expand-arrow dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-right"></i></div><div class="expand-arrow-companion"><a href="@Model.Href">@Model.Text</a></div></div>
